* {
    /* Egy kis trükk ;) */
    min-width: 0;
    box-sizing: border-box;
    margin: 0;
}

nav {
    border: 2px solid rgba(240, 240, 240, 0.8);
    border-radius: 0 0 5px 5px;
    display: flex;
    width: 100vw;
    flex-flow: row wrap;
    justify-content: space-between;
    margin: auto auto 2% auto;
    padding: 0.4rem;
    
}

.menu_header {
    flex: auto;
    text-align: center;
    align-self: center;
}

.menu_button {
    flex: 10%;
}

button {
    border: none;
    border-radius: 12px;
    padding: .8rem;
    &:hover {
        cursor: pointer;
        background-color: #545434;
    }
}

@media screen and (max-width: 425px){
    nav {
        position: sticky;
        top: 0;
        z-index: 10;
    }
}