* {
    /* Egy kis trükk ;) */
    min-width: 0;
    box-sizing: border-box;
    margin: 0;
    color: #CFCFCF;
    ::-webkit-scrollbar {
        height: 10px;
        width: 10px;
    }
    ::-webkit-scrollbar-track {
        background-color: transparent;
    }
    ::-webkit-scrollbar-thumb {
        background-color: #454348;
        border-radius: 5px;
    }
    ::-webkit-scrollbar-corner {
        display: none;
    }
}

body {
    background-color: #272537;
    width: 100vw;
    height: 100vh;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

input {
    background-color: #353334;
    color: #CFCFCF;
    border: 1px solid #CFCFCF;
    border-radius: 6px;
    text-align: center;
}

input::-webkit-inner-spin-button,
input::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

nav {
    display: flex;
    width: 100vw;
    flex-flow: row nowrap;
    justify-content: center;
    margin: auto auto 2% auto;
    background-color: transparent;
    padding: 0.4rem;

    &,
    button {
        flex: 5%;
        margin: 5px;
    }

    & > h2 {
        text-align: center;
        align-self: center;
        flex: 2;
    }
}




button {
    border: 1px solid #CFCFCF;
    background-color: Transparent;
    color: #CFCFCF;
    border-radius: 15px;
    padding: .8rem;
    cursor: pointer;
}
button:hover {
    background-color: #CFCFCF;
    color: black;
}